@charset "utf-8";
/*!
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains:
 * ZHINST.COM
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, August 2011
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0px;
}
fieldset,
img {
  border: 0;
}
address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var {
  font: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000000;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input::-ms-clear {
  display: none;
}
figure {
  margin: 0;
}
button,
input,
select,
textarea {
  background-image: none;
}
p {
  white-space: normal;
}
@font-face {
  font-family: 'AkkuratLight';
  src: url('../font/lineto-akkurat-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 50px 56px 50px 56px;
  background-color: #fff;
  color: #172983;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
}
a {
  text-decoration: none;
  color: #009ee0;
}
a:visited {
  color: #009ee0;
}
a:hover {
  color: #172983;
}
a:active {
  color: #172983;
}
h1 {
  padding: 0;
  margin: 0 0 12px -3px;
  color: #009ee0;
  font-size: 28px;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 100%;
}
h1.alt {
  color: #172983;
}
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 28px 0 12px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
h2.big {
  font-size: 22px;
  font-weight: normal;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
}
h2.alt {
  color: #172983;
}
h2.main {
  font-size: 22px;
  font-weight: normal;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
  margin-left: -3px;
}
em {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
ul {
  margin: 13px 0 0 0;
  padding: 0 0 0 21px;
}
ul li {
  list-style-image: url(../icons/bullet12.gif);
  margin: 0;
  padding: 0 0 0 19px;
}
ul p {
  margin-left: -21px;
  margin-bottom: 0;
}
ul ul {
  margin: 0;
  padding: 0 0 0 39px;
}
ul + p {
  margin-top: 12px;
}
ol {
  margin: 13px 0 0 0;
  padding: 0 0 0 25px;
}
ol li {
  margin: 0;
  padding: 0 0 0 15px;
}
ol p {
  margin-left: -25px;
  margin-bottom: 0;
}
ol ol {
  margin: 0;
  padding: 0 0 0 39px;
}
p,
.para {
  margin-bottom: 12px;
}
dd {
  margin-bottom: 12px;
  margin-left: 0;
}
dl ul {
  margin-top: 0;
}
dl ul.single dt {
  display: inline;
  font-weight: bold;
  margin-right: 3px;
}
dl ul.single dd {
  display: inline;
}
.clr {
  clear: both;
}
table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
}
table caption {
  font-weight: bold;
  text-align: left;
  caption-side: top;
  padding-bottom: 12px;
  padding-top: 28px;
}
table tbody {
  margin: 0;
  padding: 0;
}
table tr {
  border: 0;
}
table tr.subcap {
  font-weight: bold;
}
table tr.subcap td {
  padding-top: 12px;
}
table tr.subcap:first-child td {
  padding-top: 0;
}
table tr th {
  border: 0;
  padding: 0 2px 0 0;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
table tr td {
  border: 0;
  padding: 0 2px 0 0;
  vertical-align: top;
}
blockquote {
  margin: 0;
  margin-left: 20px;
}
q {
  display: block;
  font-weight: bold;
}
q:before {
  content: "";
}
q:after {
  content: "";
}
cite {
  display: block;
  margin: 0;
  margin-top: 3px;
  font-style: normal;
}
#brtop {
  height: 102px;
}
#blcol {
  width: 300px;
}
#brcol {
  position: absolute;
  left: 356px;
  top: 50px;
  width: 598px;
}
#jswarning {
  font-size: 16px;
  font-weight: normal;
  background-color: #ee7f00;
  position: fixed;
  text-align: center;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px;
}
#logo {
  margin-left: -9px;
  width: 192px;
  height: 128px;
}
#name {
  margin-left: -2px;
}
#menu {
  margin-top: 15px;
  font-size: 12px;
}
menu {
  margin: 0;
  padding: 0;
}
menu li {
  padding: 0;
  list-style-type: none;
}
menu menu {
  margin-left: 20px;
}
.sel_nav {
  color: #172983;
}
.navsearch_form {
  margin: 15px 0 0 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.navsearch_form .btn {
  border: 0;
  width: auto;
  padding: 0;
  margin-left: -3px;
  margin-top: 2px;
  background-color: #fff;
  color: #172983;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.navsearch_form input {
  width: 145px;
}
#lang {
  margin-top: 30px;
}
#lang form select {
  width: 145px;
}
#lang form input {
  border: 0;
  width: auto;
  margin-top: 2px;
  margin-left: -3px;
}
#social {
  margin: 0;
  padding: 0;
  margin-top: 100px;
}
#social .like {
  margin-top: 10px;
}
#social .link {
  margin-top: 10px;
  width: 24px;
  height: 24px;
  float: left;
}
#social .link.facebook {
  background-image: url("../img/facebook.png");
}
#social .link.twitter {
  background-image: url("../img/twitter.png");
}
#social .link.linkedin {
  background-image: url("../img/linkedin.png");
}
#social .link + .link {
  margin-left: 5px;
}
#social a.link:hover {
  background-color: #009ee0;
}
#footer {
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 12px;
}
#footer hr {
  margin: 0;
  margin-bottom: 7px;
  border: 0;
  border-top: 1px solid #172983;
}
#footer .footer_col {
  float: left;
  width: 160px;
}
#content img {
  margin-bottom: 12px;
}
#brlow {
  height: 140px;
}
.benefits {
  margin-bottom: 25px;
  margin-top: -10px;
}
.benefits a {
  color: #172983;
  text-decoration: none;
}
.ilist h2 {
  font-size: 22px;
  font-weight: normal;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
  line-height: 26px;
  margin-bottom: 0;
  margin-left: -3px;
}
.ilist ul {
  padding-left: 20px;
  margin-top: 0;
}
.ilist ul li {
  font-size: 22px;
  font-weight: normal;
  list-style-image: url(../img/bullet12_ilist.gif);
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
  line-height: 26px;
  margin: -4px 0 0 0;
  padding: 0 0 0 15px;
}
.col2 {
  width: 299px;
  float: left;
}
#quicklinks {
  width: 600px;
}
#quicklinks .col {
  float: left;
  width: 193px;
  margin-right: 5px;
}
.imgblock {
  margin-top: 30px;
  margin-bottom: 12px;
}
.icon {
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: left center;
}
.icon.file-pdf {
  background-image: url(../img/acrobat_logo.gif);
}
.icon.file-google-places {
  background-image: url(../img/google_places.png);
}
.icon.file-google-maps {
  background-image: url(../img/google_maps.png);
}
.iltbl {
  margin-top: 29px;
}
.iltbl .i {
  width: 210px;
  margin-right: 10px;
  float: left;
}
.iltbl .r {
  float: left;
  width: 378px;
}
.iltbl .ti {
  font-weight: bold;
}
.iltbl .en {
  clear: both;
}
a.button {
  font-size: 20px;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
  line-height: 22px;
  letter-spacing: -0.5px;
  margin: 0 4px 0 0;
  padding: 0 4px 1px 4px;
  background-color: #fff;
  border: 1px solid #009ee0;
  display: block;
  float: left;
  width: auto;
  height: 22px;
}
a.button:visited {
  border: 1px solid #009ee0;
}
a.button:hover {
  border: 1px solid #172983;
}
a.button:active {
  border: 1px solid #172983;
}
.pagegallery {
  margin-bottom: 28px;
}
.pagegallery .thumbs .thumb {
  float: left;
  margin-top: 10px;
  margin-right: 6px;
}
select,
input,
textarea {
  color: #172983;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: 1px solid #172983;
  background-color: #ffffff;
}
input[type=submit] {
  border: 0;
  background-color: #fff;
  color: #009ee0;
  cursor: pointer;
}
input[type=submit]:hover {
  color: #172983;
}
form {
  margin: 0;
  padding: 0;
}
form label.error {
  color: red;
}
form .required-hint.error {
  color: red;
}
.form {
  margin: 29px 0 0 0;
  padding: 0;
}
.form input {
  width: 476px;
}
.form input.half {
  width: 200px;
}
.form .separator {
  height: 10px;
  width: 10px;
}
.form input[type=checkbox] {
  margin-right: 10px;
  width: auto;
  border: 0;
  float: left;
}
.form input[type=radio] {
  width: auto;
  border: 0;
}
.form input[type=submit] {
  width: auto;
}
.form select {
  width: 478px;
}
.form select.half {
  width: 200px;
}
.form textarea {
  width: 476px;
  height: 88px;
}
.form_row {
  margin-bottom: 2px;
  clear: both;
}
.form_label {
  margin: 0;
  padding: 0;
  width: 120px;
  vertical-align: top;
  float: left;
}
.form_label_invalid {
  color: #ff0000;
}
.form_other {
  margin-left: 120px;
}
.form_send {
  margin-left: 119px;
  margin-top: 11px;
}
.form_send_left {
  margin-top: 11px;
}
.check_label {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}
.check_label_e {
  clear: left;
}
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#overlay .bg {
  position: absolute;
  background-image: url("../img/overlay_bg.png");
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#overlay .outer {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
}
#overlay .inner {
  margin: 10px;
}
#overlay .header,
#overlay .footer {
  margin-left: 10px;
  margin-right: 10px;
}
#overlay .header {
  height: 18px;
  padding-top: 10px;
}
#overlay .header .title {
  float: left;
}
#overlay .header .cross {
  float: right;
  width: 12px;
  height: 12px;
  background-image: url("../img/overlay_cross_out.png");
}
#overlay .header .cross:hover {
  background-image: url("../img/overlay_cross_over.png");
}
#overlay .footer {
  height: 25px;
}
#overlay .footer .nav {
  float: right;
  font-size: 17px;
  font-weight: normal;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
}
#overlay .footer .nav .next {
  margin-left: 15px;
}
#overlay h2 {
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
}
.imgspec {
  margin-bottom: 12px;
}
.imgspec .spec {
  float: left;
}
.imgspec .spec dl dt {
  height: 13px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
.imgspec .img {
  margin-top: 37px;
  margin-left: 50px;
  margin-right: 20px;
  float: right;
}
.imgspec .zoom {
  display: block;
  clear: both;
}
.imgspec .en {
  clear: both;
}
.imgspec + h1,
.imgspec + h2,
.imgspec + h3,
.imgspec + h4,
.imgspec + h5,
.imgspec + h6 {
  margin-top: 16px;
}
.prodcomptb tr td {
  padding-bottom: 5px;
  padding-right: 5px;
}
.prodcomptb tr th {
  padding-bottom: 5px;
  padding-right: 5px;
}
.prodcomptb .title {
  min-width: 150px;
}
.prodexpltb tr td.label {
  font-weight: bold;
  width: 150px;
}
.prod_features {
  width: 380px;
  float: left;
  margin-right: 10px;
}
.prod_resources {
  float: right;
}
.highlight {
  text-align: justify;
  margin-bottom: 50px;
}
.highlight.introduction {
  margin-bottom: 30px;
}
.highlight h2,
.highlight h3 {
  font-size: 22px;
  font-weight: normal;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
  line-height: 26px;
  margin-bottom: 8px;
}
.highlight img {
  margin-top: 10px;
  margin-bottom: 15px;
}
.highlight img,
.highlight.left img {
  float: left;
  margin-right: 25px;
}
.highlight.right img {
  float: right;
  margin-left: 25px;
}
.appoutertb {
  border-style: none;
}
.appoutertb tr th {
  padding-top: 5px;
}
.appoutertb tr td {
  padding-bottom: 5px;
  padding-top: 5px;
}
.appoutertb .app {
  width: 220px;
}
.appoutertb .dev {
  width: 40px;
  text-align: center;
}
.appoutertb .txt {
  padding-left: 10px;
}
.appinnertb tr td {
  padding-bottom: 5px;
}
.appinnertb .title {
  width: 120px;
}
.pub + .pub {
  margin-top: 32px;
}
.pub .title {
  font-weight: bold;
}
.pub .apps {
  margin-top: 5px;
  margin-bottom: 5px;
}
.pub .ref {
  margin-top: 5px;
}
.pub .related {
  margin-top: 5px;
}
.nltbl .r {
  margin-bottom: 12px;
}
.nltbl .ti {
  width: 90px;
  float: left;
}
.nltbl .tx {
  float: left;
  width: 505px;
}
.nltbl .sub {
  margin-left: 80px;
}
.nltbl .en {
  margin: 0;
  height: 0;
  clear: both;
}
.newsletter .section .left {
  margin-top: 3px;
  width: 170px;
  float: left;
}
.newsletter .section .left .caption {
  margin-top: -8px;
  font-size: 10px;
  width: 150px;
}
.newsletter .section .ilist {
  margin-bottom: 10px;
}
.newsletter .section .right {
  width: 425px;
  float: left;
}
.newsletter .section h3 {
  margin-top: 0;
}
.newsletter .section .titledist {
  height: 30px;
}
.supporttb {
  border-style: none;
}
.supporttb tr th.left {
  width: 30px;
}
.supporttb tr th.other {
  width: 140px;
}
.supporttb tr td {
  padding-right: 8px;
}
.downloads .choosers h3 {
  margin-top: 0;
}
.downloads .choosers select {
  width: 250px;
}
.downloads .choosers .chooser {
  float: left;
}
.downloads .choosers .gap {
  float: left;
  width: 30px;
  height: 3px;
}
.pagination {
  margin-bottom: 25px;
}
.result {
  margin-bottom: 25px;
}
.result .link {
  margin-top: 5px;
}
.result .result a.url {
  padding-top: 5px;
}
.searchform {
  margin: 0;
  padding: 0;
  margin-top: 29px;
}
.searchform input {
  width: 596px;
}
.guielement {
  color: #000;
  font-family: monospace;
}
code {
  color: #000;
  font-family: monospace;
}
code .comment {
  color: #008000;
}
code .string {
  color: #a00080;
}
code .command {
  color: #ff7700;
}
code .function {
  color: #bb3333;
}
/* $Id: style.css 1795 2013-10-15 12:49:16Z be $ */
/*
Theme Name: ZI 1.1
Theme URI: http://www.zhinst.com
Description: The theme for ZI's main blog
Author: Beat Hofstetter
Version: 1.1
Tags: cool nice incredible

General comments and license statement (optional).
*/
#header {
  margin-bottom: 15px;
}
#content img {
  margin-bottom: 0px;
}
.htitle {
  display: none;
}
#corporate {
  float: left;
  margin-right: 80px;
  vertical-align: top;
}
#title {
  float: left;
  vertical-align: top;
}
#title h1 {
  margin: 0;
}
#title #site-description {
  margin-top: 20px;
  width: 300px;
}
#title #site-title {
  margin-top: 3px;
}
h2 {
  font-size: 20px;
  font-weight: normal;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
  line-height: 23px;
  margin-bottom: 0px;
}
h2.first-title {
  margin-bottom: 12px;
}
h2.list-title {
  margin-bottom: 12px;
}
.clr {
  clear: both;
}
.pagenav-link a {
  font-size: 20px;
  font-weight: normal;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
  line-height: 23px;
  margin-bottom: 0px;
}
.widget {
  margin-bottom: 30px;
}
#first-title .list-title {
  float: left;
}
.pagenav {
  float: right;
}
#first-title .pagenav {
  margin-top: 28px;
}
.pagenav .pagenav-link {
  float: left;
  margin-left: 10px;
}
.post {
  margin-bottom: 30px;
}
.post h2 {
  margin-top: 0px;
  margin-bottom: 3px;
}
.post .origin {
  margin-bottom: 5px;
}
.post .origin .dist {
  margin-bottom: 20px;
}
.post .thumb {
  float: left;
  margin-right: 10px;
}
.fb {
  font-size: 11px;
  margin-top: 5px;
}
.fb .logo {
  margin-right: 5px;
}
a.sel {
  color: #172983;
}
a[href].sel {
  color: #172983;
}
.postmeta {
  margin-bottom: 20px;
}
.authordate,
.categories,
.tags {
  margin-bottom: 3px;
}
#content {
  float: left;
}
#primary-widgets {
  float: left;
}
#secondary-widgets {
  float: left;
}
.comment {
  border-left: 1px solid #009ee0;
  padding-left: 15px;
}
.registered {
  margin-right: 4px;
}
form#commentform .label {
  float: left;
  width: 75px;
}
form#commentform input[type=text] {
  clear: both;
  width: 360px;
}
form#commentform textarea {
  clear: both;
  width: 360px;
}
form#commentform .form-submit {
  margin-bottom: 20px;
}
form#commentform label.error {
  color: red;
}
form#commentform .required-hint.error {
  color: red;
}
form#commentform .recaptcha-error {
  font-size: 20px;
  color: red;
}
form#commentform #recaptcha_widget_div {
  width: 430px;
}
.page_nav ul {
  padding: 0;
}
.page_nav ul ul {
  margin-left: 15px;
}
.page_nav ul li {
  padding: 0;
  margin: 0;
  list-style: none outside;
}
.widget_categories ul {
  padding: 0;
}
.widget_categories ul ul {
  margin-left: 15px;
}
.widget_categories ul li {
  padding: 0;
  margin: 0;
  list-style: none outside;
}
.widget_pages ul {
  padding: 0;
}
.widget_pages ul ul {
  margin-left: 15px;
}
.widget_pages ul li {
  padding: 0;
  margin: 0;
  list-style: none outside;
}
.blog_nav ul {
  padding: 0;
}
.blog_nav ul li {
  padding: 0;
  margin: 0;
  list-style: none outside;
}
.tagcloud {
  font-weight: normal;
  font-family: AkkuratLight, Arial, Helvetica, sans-serif;
  line-height: 130%;
}
#content {
  width: 600px;
  counter-reset: figures;
}
#content figure {
  counter-increment: figures;
}
#content figure figcaption:before {
  content: 'Figure ' counter(figures) ' - ';
}
#content ol > li {
  list-style: inherit;
}
#content section {
  margin-bottom: 30px;
}
#content section img {
  max-width: 100%;
}
#content figcaption {
  font-weight: bold;
  padding: 0 0 10px 0;
  color: #000;
}
#content .note label {
  display: block;
  margin: 28px 0 12px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
#content table.description td {
  padding: 5px 0;
}
