html,
body {
  background-color: #000000;
}
body {
  color: #ffffff;
}
#lineNumbersCont {
  cursor: default;
  background-color: #191919;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
  border-right: 2px solid #444444;
}
.line-code:nth-child(even) {
  background: #191919;
}
