html,
body {
  background-color: #ffffff;
}
body {
  color: #000000;
}
#lineNumbersCont {
  cursor: default;
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  border-right: 2px solid #bbbbbb;
}
.line-code:nth-child(even) {
  background: #eeeeee;
}
